.form-control
{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid lightgray;
    width: 15%;
}

.unit
{
    margin-top: -34px;
    margin-left: 16%;
    width:7%
}