<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Data</a></li>
    <li class="breadcrumb-item active" aria-current="page">Individuals History</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Individuals</h4>
        <p class="card-description mb-0">Following is the data of individuals taken by collectors</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Data Table For Individuals</h6>
        <div class="table-responsive">
          <table id="dataTableExample" class="table">
            <thead>
              <tr style="text-align: center;">
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>City</th>
                <th>Sample Date</th>
                <th>Disease</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody style="text-align: center;">
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>
              <tr>
                <td>HFB07</td>
                <td>Tiger Nixon</td>
                <td>Male</td>
                <td>52</td>
                <td>Islamabad</td>
                <td>2021/09/25</td>
                <td>Cohen</td>
                <td>
                  <a routerLink="/form-elements/editors">
                    <a routerLink="/form-elements/editors">
                    <button type="button" class="btn btn-custom" >View Result</button>
                  </a>
                    </a>
                </td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>