.auth-page {
  .auth-left-wrapper {
    width: 100%;
    height: 100%;
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLRLAl38ITN01V8NeZZZsYqKxyJqlipIFRhBqz8xvw=s900-c-k-c0x00ffffff-no-rj);
    background-size:cover;
  }
}