<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Individual Result</a></li>
    <li class="breadcrumb-item active" aria-current="page">Result</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid d-flex justify-content-between">
          <div class="col-lg-3 pl-0">
            <a routerLink="." class="noble-ui-logo d-block mt-3">PK<span>101</span></a>                 
            <p class="mt-1 mb-1" style="color: #727cf5;"><b>Islambad Diagnostic Center</b></p>
            <p>IDC,<br>F8,Islamabad</p>
            <h5 class="mt-5 mb-2" style="color: #727cf5;">Individuals Detail:</h5>
            <p>Jennifer,Anniston<br> 102, 7th Crown Street,<br> F7, Islamabad.</p>
          </div>
          <div class="col-lg-3 pr-0">
            <h4 class="font-weight-medium text-uppercase text-right mt-4 mb-2">Reference</h4>
            <h6 class="text-right mb-5 pb-4" style="color: #727cf5;"># REF-002308</h6>
            <h5 class="mb-0 mt-2 text-right font-weight-normal mb-2"><span class="">Sample Date :</span> 01 Jan 2022</h5>
            <h5 class="text-right font-weight-normal"><span class="">Result Date :</span> 12 Jan 2022</h5>
          </div>
        </div>
        <div class="container-fluid mt-5 d-flex justify-content-center w-100">
          <div class="table-responsive w-100">
              <table class="table table-bordered">
                <thead>
                  <tr style="color: #727cf5;">
                    <th class="text-center">Sample ID</th>
                      <th class="text-center">Name </th>
                      <th class="text-center">Age </th>
                      <th class="text-center">Gender</th>
                      <th class="text-center">City</th>
                      <th class="text-center">Disease</th>
                      
                    </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td>J-07</td>
                    <td>Jennifer Anniston</td>
                    <td>61</td>
                    <td>Female</td>
                    <td>Islamabad</td>
                    <td>Cohen</td>                    
                  </tr>

                </tbody>
              </table>
            </div>
        </div>
        <div class="container-fluid mt-5 w-100">
          <div class="row">
            <div class="col-md-6 ml-auto">
                <div class="table-responsive">
                  <table class="table">
                      <tbody>
                        <tr>
                          <td style="color: #727cf5;">Submitted By</td>
                          <td class="text-right">Dr. Aurangzaib Ali</td>
                        </tr>
                        <tr>
                          <td style="color: #727cf5;">DNA Quality</td>
                          <td class="text-right">Degraded</td>
                        </tr>
                        <tr>
                          <td style="color: #727cf5;" class="text-bold-800">Volume</td>
                          <td class="text-bold-800 text-right"> 8 ul</td>
                        </tr>
                        <tr>
                          <td style="color: #727cf5;">Quantity</td>
                          <td class="text-danger text-right">0.5 mol</td>
                        </tr>
                        <tr class="bg-light">
                          <td style="color: #727cf5;" class="text-bold-800">Remarks</td>
                          <td class="text-bold-800 text-right">Remarks pending</td>
                        </tr>
                      </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
        <div class="container-fluid w-100">
          <a routerLink="." class="btn btn-outline-primary float-right mt-4"><i data-feather="printer" appFeatherIcon class="mr-2 icon-md"></i>Print</a>
        </div>
      </div>
    </div>
  </div>
</div>