<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Tables</a></li>
    <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title" style="color:#727cf5;">Recieved Samples table</h6>
        <p class="card-description" style="color: black;">Mark samples to move it to the pending list</p>
        <a routerLink="/charts-graphs/apexcharts">
          <div class="text-right">
            <button type="button" class="btn btn-primary btn-custom" >Scan by QR</button>
          </div>
          </a>

        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
              <tr class="text-center">
                <th>Check</th>
                <th>Sample ID</th>
                <th>Collector</th>
                <th>Disease</th>
                <th>Sample Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr >
                <td> 
                  <div class="text-center">
                  <input type="checkbox" >
                  <i class="input-frame"></i>
              </div></td>
                <td>J-07</td>
                <td>Tom Holland</td>
                <td>Healthy</td>
                <td>May 15, 2013</td>
                <td>
                  <button [swal]="{ toast: true, position: 'top-end', showConfirmButton: true, timer: 2280, title: 'Samples Added successfully', icon: 'success'}"class="btn btn-custom">  <i class="mdi mdi-checkbox-marked-outline"></i></button>
                </td>
              </tr>

              <tr>
                <td> 
                  <div class="text-center">
                  <input type="checkbox" >
                  <i class="input-frame"></i>
              </div></td>
                <td>J-07</td>
                <td>Tom Holland</td>
                <td>Healthy</td>
                <td>May 15, 2013</td>
                <td>
                  <button [swal]="{ toast: true, position: 'top-end', showConfirmButton: true, timer: 2280, title: 'Samples Added successfully', icon: 'success'}"class="btn btn-custom">  <i class="mdi mdi-checkbox-marked-outline"></i></button>
                </td>
              </tr>

              <tr>
                <td> 
                  <div class="text-center">
                  <input type="checkbox" >
                  <i class="input-frame"></i>
              </div></td>
                <td>J-07</td>
                <td>Tom Holland</td>
                <td>Healthy</td>
                <td>May 15, 2013</td>
                <td>
                  <button [swal]="{ toast: true, position: 'top-end', showConfirmButton: true, timer: 2280, title: 'Samples Added successfully', icon: 'success'}"class="btn btn-custom">  <i class="mdi mdi-checkbox-marked-outline"></i></button>
                </td>
              </tr>

              <tr>
                <td> 
                  <div class="text-center">
                  <input type="checkbox" >
                  <i class="input-frame"></i>
              </div></td>
                <td>J-07</td>
                <td>Tom Holland</td>
                <td>Healthy</td>
                <td>May 15, 2013</td>
                <td>
                  <button [swal]="{ toast: true, position: 'top-end', showConfirmButton: true, timer: 2280, title: 'Samples Added successfully', icon: 'success'}"class="btn btn-custom">  <i class="mdi mdi-checkbox-marked-outline"></i></button>
                </td>
              </tr>

              <tr>
                <td> 
                  <div class="text-center">
                  <input type="checkbox" >
                  <i class="input-frame"></i>
              </div></td>
                <td>J-07</td>
                <td>Tom Holland</td>
                <td>Healthy</td>
                <td>May 15, 2013</td>
                <td>
                  <button [swal]="{ toast: true, position: 'top-end', showConfirmButton: true, timer: 2280, title: 'Samples Added successfully', icon: 'success'}"class="btn btn-custom">  <i class="mdi mdi-checkbox-marked-outline"></i></button>
                </td>
              </tr>

              <tr>
                <td> 
                  <div class="text-center">
                  <input type="checkbox" >
                  <i class="input-frame"></i>
              </div></td>
                <td>J-07</td>
                <td>Tom Holland</td>
                <td>Healthy</td>
                <td>May 15, 2013</td>
                <td>
                  <button [swal]="{ toast: true, position: 'top-end', showConfirmButton: true, timer: 2280, title: 'Samples Added successfully', icon: 'success'}"class="btn btn-custom">  <i class="mdi mdi-checkbox-marked-outline"></i></button>
                </td>
              </tr>

              <tr>
                <td> 
                  <div class="text-center">
                  <input type="checkbox" >
                  <i class="input-frame"></i>
              </div></td>
                <td>J-07</td>
                <td>Tom Holland</td>
                <td>Healthy</td>
                <td>May 15, 2013</td>
                <td>
                  <button [swal]="{ toast: true, position: 'top-end', showConfirmButton: true, timer: 2280, title: 'Samples Added successfully', icon: 'success'}"class="btn btn-custom">  <i class="mdi mdi-checkbox-marked-outline"></i></button>
                </td>
              </tr>

              <tr>
                <td> 
                  <div class="text-center">
                  <input type="checkbox" >
                  <i class="input-frame"></i>
              </div></td>
                <td>J-07</td>
                <td>Tom Holland</td>
                <td>Healthy</td>
                <td>May 15, 2013</td>
                <td>
                  <button [swal]="{ toast: true, position: 'top-end', showConfirmButton: true, timer: 2280, title: 'Samples Added successfully', icon: 'success'}"class="btn btn-custom">  <i class="mdi mdi-checkbox-marked-outline"></i></button>
                </td>
              </tr>

              <tr>
                <td> 
                  <div class="text-center">
                  <input type="checkbox" >
                  <i class="input-frame"></i>
              </div></td>
                <td>J-07</td>
                <td>Tom Holland</td>
                <td>Healthy</td>
                <td>May 15, 2013</td>
                <td>
                  <button [swal]="{ toast: true, position: 'top-end', showConfirmButton: true, timer: 2280, title: 'Samples Added successfully', icon: 'success'}"class="btn btn-custom">  <i class="mdi mdi-checkbox-marked-outline"></i></button>
                </td>
              </tr>

              <tr>
                <td> 
                  <div class="text-center">
                  <input type="checkbox" >
                  <i class="input-frame"></i>
              </div></td>
                <td>J-07</td>
                <td>Tom Holland</td>
                <td>Healthy</td>
                <td>May 15, 2013</td>
                <td>
                  <button [swal]="{ toast: true, position: 'top-end', showConfirmButton: true, timer: 2280, title: 'Samples Added successfully', icon: 'success'}"class="btn btn-custom">  <i class="mdi mdi-checkbox-marked-outline"></i></button>
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
