<div class="row">

  <div class="container-fluid">

    <form class="form-inline">
      <div class="form-group">
        <h4 class="card-title" style="margin-bottom: -1%;">PROSPECTS FOR INVESTOR</h4>
        <button type="button" class="btn btn-light btn-icon" (click)="showFilters = !showFilters"
          style="margin-left: 640px; margin-right: 5px;">
          <i class="feather icon-filter"></i>&nbsp;
        </button>
        <a routerLink="/dashboard/tableformat" class="btn btn-primary btn-custom" style="float: right;">Investor
          Pro</a>
      </div>
    </form>

    <div class="filters card" *ngIf="showFilters" style="margin-bottom: -3%;">
      <form class="form-inline">
        <div class="form-group ml-2">
          <select class="form-control">
            <option value="">Capital Domain</option>
            <option value="seed">Seed capital</option>
            <option value="Expansion">Expansion & Growth</option>
          </select>
        </div>
        <div class="form-group ml-2">
          <select class="form-control">
            <option value="">Business Domain</option>
            <option value="Booth">Information Technology</option>
            <option value="Easypaisa">Transportation</option>
            <option value="Jazzcash">Restaurant</option>
          </select>
        </div>




        <div class="form-group ml-2">
          <input type="number" class="form-control" id="user_min_price" placeholder="min price">
        </div>

        <div class="form-group ml-2">
          <input type="number" class="form-control" id="user_max_price" placeholder="max price">
        </div>

        <div class="form-group ml-2">
          <button type="button" class="btn btn-primary"><i class="feather icon-search"></i></button>
          <button type="button" class="btn btn-light ml-1"><i class="feather icon-refresh-ccw"></i></button>
        </div>
      </form>
    </div>
    <div class="row pt-5 m-auto ">
      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Copy the content below until next comment -->
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="image"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Selectme</h4>





            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>



            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>
            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>

          </div>
        </div>
        <!-- Copy until here -->

      </div>
      <div class="col-md-6 col-lg-4 pb-3">

        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Dealkit</h4>

            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>


            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>

          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 pb-3">
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">POWERLIX</h4>

            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>


            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>

          </div>
        </div>


      </div>



      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Copy the content below until next comment -->
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">FOODSAVER</h4>

            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>


            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>

          </div>
        </div>
        <!-- Copy until here -->

      </div>

      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Copy the content below until next comment -->
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Select me</h4>

            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>


            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>

          </div>
        </div>
        <!-- Copy until here -->

      </div>


      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Copy the content below until next comment -->
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Select me</h4>


            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>


            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>


          </div>
        </div>
        <!-- Copy until here -->

      </div>


      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Copy the content below until next comment -->
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Select me</h4>


            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>


            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>


          </div>
        </div>
        <!-- Copy until here -->

      </div>

      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Copy the content below until next comment -->
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Select me</h4>


            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>


            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>


          </div>
        </div>
        <!-- Copy until here -->

      </div>


      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Copy the content below until next comment -->
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Select me</h4>


            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>


            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>


          </div>
        </div>
        <!-- Copy until here -->

      </div>


      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Copy the content below until next comment -->
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Select me</h4>


            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>


            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>


          </div>
        </div>
        <!-- Copy until here -->

      </div>


      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Copy the content below until next comment -->
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Select me</h4>


            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>


            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>


          </div>
        </div>

      </div>

      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Copy the content below until next comment -->
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/9fdeee59624409.5a29300e09c1f.png"
              alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Select me</h4>


            <div class="d-flex align-items-center mb-2" style="margin-top: 3%;">
              <i data-feather="loader" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Remaining Shares</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p class="text-muted">40</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="clock" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Closing date</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">April 21, 2021</p>
            </div>


            <div class="d-flex align-items-center mb-2">
              <i data-feather="tag" appFeatherIcon class="icon-md text-primary mr-2"></i>
              <p>Price per share</p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <p class="text-muted">8943842398</p>


            </div>
          </div>
          <div class="card-footer">
            <a routerLink="/dashboard/business-card" class="btn btn-primary btn-custom">View Profile</a>
            <button class="btn btn-primary btn-custom btn-edit-profile" (click)="openBasicModal(basicModal)">Buy
              Contract</button>
            <ng-template #basicModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title IBM" id="exampleModalLabel">Buy shares of IBM</h5>
                <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="col-md-6">
                <br>
                <label class="price">Price Per Share</label>
                <label class="usdt">100 USDT</label>

                <label class="shares">Buying Shares</label>
                <label class="max">Max 20</label>
                <input class="inputfield" type=number min="0" />

                <label class="Investing">Total Investing</label>
                <label class="totalusdt">1000 USDT</label>
              </div>
              <div class="modal-body">

                <br>
                <input type="checkbox"> I agree to the terms and conditions

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-custom" (click)="modal.close('')">Cancel</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="modal.close('')">Buy Contract</button>
              </div>
            </ng-template>

            <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>